#horizontal-multilevel-menu, #horizontal-multilevel-menu ul {
   width:100%;
   min-height:16px;
   margin:0; 
   padding:0;
   font-weight:normal;
   display:table;
}
#horizontal-multilevel-menu li {
	/* float:left; */
	list-style:none;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	/* padding:0 5px; */
	padding:0 4px;
	border-left:1px solid #000;
    position: relative;
}
#horizontal-multilevel-menu > li:first-child {
	text-align:left;
	padding-left:0;
	border-left:none;
}

#horizontal-multilevel-menu li:last-child {
	text-align:right;
	padding-right:0;
}

#horizontal-multilevel-menu li a {
   display:block;
   /* font-size:12px; */
   font-size:13px;
   text-decoration:none;
   text-align:center;
   font-family: "RenaultLife-Regular";
}
#horizontal-multilevel-menu ul li a {
   display:block;
   font-size:12px;
   text-decoration:none;
   text-align:center;
   font-family: "RenaultLife-Regular";
}

/* #horizontal-multilevel-menu li.first a {padding-left:0px;}
#horizontal-multilevel-menu li.first li a {padding-left:8px;} */

#horizontal-multilevel-menu li:hover a, #horizontal-multilevel-menu li a:hover {color:#ffcc33;}
#horizontal-multilevel-menu li:hover li a {color:#000000;}

#horizontal-multilevel-menu li a.root-item-selected {color:#ffcc33;}

#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item {}
#horizontal-multilevel-menu li>ul>li:hover {background-color:#ffffff;}
#horizontal-multilevel-menu li li:hover a {color:#ffcc33;}
#horizontal-multilevel-menu li li:hover li a {color:#333333;}
#horizontal-multilevel-menu li li li:hover a {color:#ffcc33;}

/*Item-parents*/
#horizontal-multilevel-menu li a.parent {background: url(https://www.rtds.ru/bitrix/templates/.default/components/bitrix/menu/rtds-horizontal/images/arrow.png) 197px center no-repeat;}
#horizontal-multilevel-menu li li:hover a.parent {background: url(https://www.rtds.ru/bitrix/templates/.default/components/bitrix/menu/rtds-horizontal/images/arrow_hover.png) 197px center no-repeat;}

/*Denied items*/
#horizontal-multilevel-menu a.denied {background: url(https://www.rtds.ru/bitrix/templates/.default/components/bitrix/menu/rtds-horizontal/images/lock.gif) center right no-repeat;}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul {
   width:210px;
   height:auto;
   display:none;
   position:absolute;
   z-index:500;
   top:15px;
   background:#ffffff;
   border:1px solid #cccccc;
}
#horizontal-multilevel-menu > li:first-child ul {
	top: 100% !important;
	box-shadow: 0px -4px 0px white;
}

#horizontal-multilevel-menu li li {width:100%; padding: 5px 0px;}

#horizontal-multilevel-menu li ul a {
   text-align:left;
   font-family: "RenaultLife-Bold";
   font-size:11px;
}
#horizontal-multilevel-menu li ul li ul li a {}
#horizontal-multilevel-menu li ul ul {margin:-1px 0px 0px 210px;top:0px;}

/*#horizontal-multilevel-menu li:hover ul {display:block;}
#horizontal-multilevel-menu li:hover ul ul {display:none;}
#horizontal-multilevel-menu li li:hover ul  {display:block;}*/

#horizontal-multilevel-menu li ul.submenu_open {/*display:block;*/}
#horizontal-multilevel-menu > li:first-child ul.submenu_open {
	display: none;
}
#horizontal-multilevel-menu > li:first-child:hover ul {
	display: block;
}
#horizontal-multilevel-menu li ul.submenu_close {display:none;}

.menu b{
    color: #000;
    background-color: #ffcc00;}

.menu b:hover{
    color: #000;}

/* #horizontal-multilevel-menu>li:hover ul {
	display:block;
} */