<!-- actions start -->
<div class="actions">
    <h1 class="actions__title">Акции сервиса</h1>
    <div class="sort">
        <div class="sort__actions">
            <a href="#" class="text">Сортировать акции: по модели автомобиля</a>
            <div class="nano hidden">
                <div class="nano-content">
                    <ul class="dropsort">
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Alaskan</a>
                        </li>
                        <li class="dropsort__item dropsort__item_active">
                            <a href="#" class="dropsort__item-link">Daster</a>
                        </li>
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Sandero Stepwey</a>
                        </li>
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Alaskan</a>
                        </li>
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Daster</a>
                        </li>
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Alaskan</a>
                        </li>
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Daster</a>
                        </li>
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Sandero Stepwey</a>
                        </li>
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Alaskan</a>
                        </li>
                        <li class="dropsort__item">
                            <a href="#" class="dropsort__item-link">Daster</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#" class="text show-all hidden">Показать все акции</a>
        </div>
        <div class="sort__date">
            <a href="#" class="text">По дате:
                <span>сначала новые</span>
            </a>
            <ul class="dropsort hidden">
                <li class="dropsort__item dropsort__item_active">
                    <a href="#" class="dropsort__item-link">сначала новые</a>
                </li>
                <li class="dropsort__item">
                    <a href="#" class="dropsort__item-link">сначала старые</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="actions-page_other list">
        <a href="#" class="actions-page_other-item list__item" style="margin-right: 10px;">
            <img src="../img/action1.png" alt="" class="actions-page_other-img">
            <p class="actions-page_other-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDService!</p>
            <p class="actions-page_other-desc">До 30 апреля мы рады предложить Вам скидку 500 рублей на шиномонтаж в сервисных центрах RTDService!...</p>
            <div class="actions-page_sticker">
                <img src="clock-act.png" alt="">
                <span>До 30 апреля</span>
            </div>
        </a>
        <a href="#" class="actions-page_other-item list__item">
            <img src="../img/action2.png" alt="" class="actions-page_other-img">
            <p class="actions-page_other-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDService!</p>
            <p class="actions-page_other-desc">До 30 апреля мы рады предложить Вам скидку 500 рублей на шиномонтаж в сервисных центрах RTDService!...</p>
            <div class="actions-page_sticker">
                <img src="clock-act.png" alt="">
                <span>До 30 апреля</span>
            </div>
        </a>
        <a href="#" class="actions-page_other-item list__item" style="margin-right: 10px;">
            <img src="other1.jpg" alt="" class="actions-page_other-img">
            <p class="actions-page_other-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDService!</p>
            <p class="actions-page_other-desc">До 30 апреля мы рады предложить Вам скидку 500 рублей на шиномонтаж в сервисных центрах RTDService!...</p>
            <div class="actions-page_sticker">
                <img src="clock-act.png" alt="">
                <span>До 30 апреля</span>
            </div>
        </a>
        <a href="#" class="actions-page_other-item list__item">
            <img src="other2.jpg" alt="" class="actions-page_other-img">
            <p class="actions-page_other-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDService!</p>
            <p class="actions-page_other-desc">До 30 апреля мы рады предложить Вам скидку 500 рублей на шиномонтаж в сервисных центрах RTDService!...</p>
            <div class="actions-page_sticker">
                <img src="clock-act.png" alt="">
                <span>До 30 апреля</span>
            </div>
        </a>
        <a href="#" class="actions-page_other-item list__item" style="margin-right: 10px;">
            <img src="other1.jpg" alt="" class="actions-page_other-img">
            <p class="actions-page_other-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDService!</p>
            <p class="actions-page_other-desc">До 30 апреля мы рады предложить Вам скидку 500 рублей на шиномонтаж в сервисных центрах RTDService!...</p>
            <div class="actions-page_sticker">
                <img src="clock-act.png" alt="">
                <span>До 30 апреля</span>
            </div>
        </a>
        <a href="#" class="actions-page_other-item list__item">
            <img src="other2.jpg" alt="" class="actions-page_other-img">
            <p class="actions-page_other-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDService!</p>
            <p class="actions-page_other-desc">До 30 апреля мы рады предложить Вам скидку 500 рублей на шиномонтаж в сервисных центрах RTDService!...</p>
            <div class="actions-page_sticker">
                <img src="clock-act.png" alt="">
                <span>До 30 апреля</span>
            </div>
        </a>
        <a href="#" class="actions-page_other-item list__item" style="margin-right: 10px;">
            <img src="../img/action1.png" alt="" class="actions-page_other-img">
            <p class="actions-page_other-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDService!</p>
            <p class="actions-page_other-desc">До 30 апреля мы рады предложить Вам скидку 500 рублей на шиномонтаж в сервисных центрах RTDService!...</p>
            <div class="actions-page_sticker">
                <img src="clock-act.png" alt="">
                <span>До 30 апреля</span>
            </div>
        </a>
        <a href="#" class="actions-page_other-item list__item">
            <img src="../img/action2.png" alt="" class="actions-page_other-img">
            <p class="actions-page_other-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDService!</p>
            <p class="actions-page_other-desc">До 30 апреля мы рады предложить Вам скидку 500 рублей на шиномонтаж в сервисных центрах RTDService!...</p>
            <div class="actions-page_sticker">
                <img src="clock-act.png" alt="">
                <span>До 30 апреля</span>
            </div>
        </a>
    </div>
    <!-- <div class="list">
        <div class="list__item">
            <a href="#" class="list__item-link">
                <img src="../img/action1.png" alt="">
                <div class="list__item-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDServic</div>
                <div class="list__item-text">До 30 апреля мы рады предложить Вам скидку 500 рублей на шином копия</div>
                <div class="list__item-date">С 1 преля до 30 апреля</div>
            </a>
        </div>
        <div class="list__item">
            <a href="#" class="list__item-link">
                <img src="../img/action2.png" alt="">
                <div class="list__item-title">Скидка 500 рублей на шиномонтаж в сервисных центрах RTDServic</div>
                <div class="list__item-text">До 30 апреля мы рады предложить Вам скидку 500 рублей на шином копия</div>
                <div class="list__item-date">С 1 преля до 30 апреля</div>
            </a>
        </div>
    </div> -->
    <a href="#" class="actions__other">Показать еще 8 акций</a>
</div>
<link rel="stylesheet" href="../css/nanoscroller.css">
<link rel="stylesheet" href="../css/actions.css">
<script src="../libs/jquery.nanoscroller.min.js"></script>
<script>
    $(".nano").nanoScroller({ sliderMaxHeight: 50 });
</script>
<script src="../js/actions.js"></script>
<!-- actions end -->